body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffffc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10em 2em;
}
.header{
  text-align: center;
  font-size: 1.5em;
  font-family: 'Poppin';
  font-weight:bolder;
  padding: 1em;
  
}

.header h1{
  font-weight: lighter;
  color: #1d3557;
}

.input-container{
  margin-top: 3em;
  text-align: center;
  margin-left: 2em;
  
}

.input-box{
  padding: .5em;
  font-size: 1.25em;
  border: .15em solid #e63946;
  border-radius: 2em;
  margin-left: .25em;

  text-align: left;
  display: flex;
  width: 13.6em;
}

.input-title{
  font-size: 1.25em;
  font-family: 'Poppin';
  font-weight:500;
  display: flex;
  margin-left: .85em;
  color: #1d3557;
  font-weight: bolder;
}

.checkBox-container {
  text-align: center;
  margin-top: 1em;
  margin-left: 1em;
 

}

.drop-title{
  text-align: center;
  font-size: 1.25em;
  font-family: 'Poppin';
  font-weight: lighter;
  display: flex;
  margin-left: .65em;
  margin-bottom: 0;
  color: #1d3557;
}

.dropDown-menu{
  font-size: 1.25em;
  display: block;
  text-align: left;
  width: 10em;
  color: #1d3557;
  margin-left: .5em;
}

.dropDown-menu ::selection{
  background-color: black;
}


.submit-button{
  text-align: center;
  font-size: 1.25em;
  font-family: 'Poppin';
  font-weight:500;
  display: flex;
  margin-left: 3.5em;
  margin-bottom: 0;
  margin-top: 1em;
  background-color: #fffffc;
  font-size: 1.5em;
  border-radius: 1em;
  border: .15em solid #e63946;
}

.submit-button:hover{
  background-color: #fffffc;
}

.card-container{
  border: .25em solid #1d3557;
  border-radius: 1em;
  width: 15em;
  margin: 3em 3em;
  margin-left: 2em;
  margin-right: 2em;
  /* border: 3px solid gray; */
  text-align: center;
}

.person-photo{
  width: 100%;
  border-top-left-radius: .75em;
  border-top-right-radius: .75em;
}

.person-name {
  font-size: 1em;

}

.person-name-02{
  font-family: 'sans-serif';
  font-size: 1em;
  font-weight: lighter;
}





